

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}


@keyframes slide-in{
    from {
        
        transform: translateX(100%);
        visibility: visible;

    }
   to {
        transform: translateX(0);
    }
} 

.slide-in {
    animation: slide-in 0.8s ease forwards;
}
@keyframes moveInTop{
    0% {
        opacity: 0;
        transform: translateY(-20rem);


    }
    100% {
         opacity: 1;
         transform: translate(0);
    }
} 

.fromTop {
    opacity: 0;
    animation: moveInTop 0.5s ease-in 1 forwards;
}


@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
       fill: transparent;
    }
    to{
       fill:$color-primary;
    }
}


@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}