#gallery {
    padding: 10rem 0;
}
.gallery {
    background:$color-grey-light-1;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
   
    @media only screen and (max-width:$bp-large) {
        grid-template-rows: 1fr max-content;
        grid-template-columns: 1fr;
    } 
    

    &__left {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        

        @media only screen and (max-width:$bp-large) {
            grid-row: 1 / 2;
           grid-column: 1 / -1;
           
           
        } 
      
    }
    &__right {
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 60%;

        @media only screen and (max-width:$bp-large) {
            grid-row: 2 / -1;
            grid-column: 1 / -1;
            padding: 8rem 0;
        } 
        @media only screen and (max-width:$bp-medium) {
            width: 80%;
        } 

        &--title {
            font-size: 3.5rem;
            color: $color-text;
            font-weight: 200;
            margin: 0;
        }
        &--span {
            color: $color-primary;
        }

        &--text {
            font-size: 1.5rem;
            font-weight: 500;
            color: $color-text;
            padding: 1rem 0;
        }
    }
}


.mainImage{
  width: 45rem;
  min-height: 45rem;
  max-height: 45rem;
  margin: 0 auto;
  overflow: hidden;


  @media only screen and (max-width:$bp-wide-1) {
    width: 40rem;
    min-height: 40rem;
    max-height: 40rem;
} 

  @media only screen and (max-width:$bp-small-3) {

    grid-gap: 2px;
} 


    &__image {
        width: 100%;
      
    }
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 0 2rem;
    width: 45rem;

    @media only screen and (max-width:$bp-wide-1) {
        width: 40rem;
    } 
 
      @media only screen and (max-width:$bp-small-3) {

        grid-gap: 2px;
    } 
  

    cursor: pointer;
  
    &__image {
        width: 100%;
        max-height: 10rem;
        min-height: 10rem;
      
    }
}


.mainImage2{
    width: 65rem;
    min-height: 47rem;
    max-height: 47rem;
    margin: 0 auto;
    overflow: hidden;

  
    @media only screen and (max-width:$bp-wide-1) {
      width: 60rem;
      min-height: 44rem;
      max-height: 44rem;
  } 
    @media only screen and (max-width:$bp-wide-3) {
      width: 55rem;
      min-height: 40rem;
      max-height: 40rem;
  } 
    @media only screen and (max-width:$bp-large) {
      width: 50rem;
      min-height: 35rem;
      max-height: 35rem;
  } 
    @media only screen and (max-width:$bp-small-3) {
      width: 40rem;
      min-height: 32rem;
      max-height: 32rem;
      grid-gap: 2px;
  } 

  
      &__image {
          width: 100%;
        
      }
  }
  
  .images2 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      padding: 0 2rem;
      width: 65rem;
      cursor: pointer;
    

      @media only screen and (max-width:$bp-wide-1) {
          width: 60rem;
      } 
      @media only screen and (max-width:$bp-wide-3) {
          width: 55rem;
   
      } 
        @media only screen and (max-width:$bp-large) {
          width: 50rem;
   
      } 
        @media only screen and (max-width:$bp-small-3) {
          width: 40rem;
          grid-gap: 2px;
      } 

  
    
      &__image {
          width: 100%;
          max-height: 10rem;
          min-height: 10rem;
        
   
      }
  }
  
  

